<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Library reservation</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<style>
body {
    background-color: #eee!important;
}

.login {
    background-color: #fff;
    width: 40%;
    margin: 80px auto;
    border-radius: 10px;
    padding: 20px;
    border-left: 5px solid #009688;
    box-shadow: 0px 0px 0px 0px #3f51b5;
}

.login>.row>h2 {
    margin: auto;
}

.btn-form {
    width: 100%;
    margin-top: 20px;
}
</style>
</head>

<body>

 	<div th:if="${param.error}">
 		Invalid username and password. Please try again. 
	</div>

	
	
	<form th:action="@{/login}" method="post">
 		<div class="container">
 			<div class="login">
           		 <div class="row">
           		 	<div class="col-md-12">
           		 		<label> User Name : 
 							<input type="text" name="username" class = "form-control"/> 
 						</label>
 						<br>
 						<label> Password: 
			 				<input type="password" name="password" class = "form-control"/> 
			 			</label>
 						
           		 	</div> 
           		 	
           		 	<div class="col-md-6">
			 			<input type="submit" value="Sign In" class = "btn btn-primary"/>
			 		</div>
			 		
					 <p>Become member? 
					 	<span> 
					 		<button class="signup-btn"><a th:href="@{/signup}" >Sign Up</a></button>
					 	</span>
					 </p>
					 
					 <div class="text-center">
					 	<a th:href = "@{/forgotPassword}">Forgot your password?</a>
					 </div>
					
			 		
           		 </div>
 			</div>
 			
 		</div>
	</form>
	

	
</body>
</html>